.container{
    height: 80%;
    width: min(450px,90%);
    display: grid;
    color: white;
    background:  #0855A0 ;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: 1fr;
    }

.input-content{
    height: 100%;
    width: 76%;
    margin: auto;
    display: flex;
    flex-direction: column;    
}
.name-alert{
    --activation:hidden;
}
.name-alert::after{
    visibility: var(--activation);
    content: '* nombre invalido';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.lastname-alert{
    --activation:hidden;
}
.lastname-alert::after{
    visibility: var(--activation);
    content: '*apellido invalido';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.adress-alert{
    --activation:hidden;
}
.adress-alert::after{
    visibility: var(--activation);
    content: 'direccion no valida';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.phone-alert{
    --activation:hidden;
}
.phone-alert::after{
    visibility: var(--activation);
    content: 'telefono no valido';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.email-alert{
    --activation:hidden;
}
.email-alert::after{
    visibility: var(--activation);
    content: 'email no valido';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.pass-alert{
    --activation:hidden;
}
.pass-alert::after{
    visibility: var(--activation);
    content: '9 a 10 caracteres';
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: auto;
    color: red;
    position: absolute;
    right: 0;
    outline: 2px solid red;
    
}
.input-content > label{
    margin-inline-end: auto;
    width: 99%;
    position: relative;
    padding-bottom: 1%;
}
.personal-data{
    height: 30px;
    width: 100%;
    border: white;
    border-radius: 5px;
    text-indent: 2%;
    position:relative;
}
.personal-data:focus{
    outline: none;
    text-indent: 2%;
}

.send-data{
    height: 100%;
    width: fit-content;
    color: white;
    padding: 2%;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: red;
}
.boat-start{
    display:  flex;
    justify-content: center;
    height: 40%;
    margin: auto;
    width: 76%;
}