@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
.container-spots{
    height: 100%;
    width: min(550px,100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 70%;
    color: white;
    background: #0855A0;
}
.container-spots h2{
    margin-inline: auto;
    font-size: xx-large;
}
.options-selected{
    height: 40%;
    width: min(200px,70%);
    margin-inline: auto;
    display: flex;
    position: relative;
    justify-content: initial;
    overflow: hidden;
}
.options-selected::after{
    content: '\25BC';
    width: 22%;
    height: 100%;
    position: absolute;
    right: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    pointer-events: none;
   background-color:#D6DBDD;

}
.options-selected select{
    width: 100%;
    height: 100%;
    appearance: none;
   box-shadow: none;
   border: none;
   text-indent: 5%;
   background-color:#D6DBDD;
}

.options-selected select::-ms-expand{
    display: none;
}
.options-selected select:focus{
    outline: none;
}

.cards{
    height: 95%;
    width: 90%;
    border: 2px groove whitesmoke;
    text-decoration: none;
    margin-inline: auto;
    border-radius: 5px;
    background-image: url('https://i.ibb.co/KV38gbS/los-Marinos.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    display: grid;
    color: black;
    grid-template-rows: 1fr;
    align-items: flex-end;
}


.advantages{
    display: grid;
    margin-bottom: 4%;
    grid-template-columns: repeat(3,1fr);
}
.advantages p{
    margin-inline: auto;
    font-size: 14px;
    font-weight: 600;
}
.advantages > span{
    display: block;
    height: 100%;
    display: grid;
    place-items: center;
    align-content: center;
}
.boat-logo{
    width: 33px;
    height: 33px;
    margin-inline: auto;
}