.ticket-cotainer{
    height: 90%;
    width: min(450px,90%);
    display: grid;
    background: transparent;
    grid-template-rows: 10% 80% 10%;
}
.top-decoration{
    background-color:    #182889;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    --mask: 
    radial-gradient(4px at 25% 0,#0000 98%,#000) 50% 5px/16px 100% repeat-x,
    radial-gradient(4px at 75% 50%,#000 99%,#0000 101%) top/16px 8px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.top-decoration > div{
    width: 17.8%;
    height: auto;
    border-radius: 0 0 10px 10px;
    background-color: black;
}
.bottom-decoration{
    background-color:  #182889;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    --mask: 
    radial-gradient(4px at 75% 100%,#0000 98%,#000) 50% calc(100% - 4px)/16px 100% repeat-x,
    radial-gradient(4px at 25% 50%,#000 99%,#0000 101%) bottom/16px 8px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.bottom-decoration > div{
    width: 17.8%;
    height: auto;
    background-color: black;
    border-radius: 10px 10px 0 0 ;
}
.ticket-info{
    background-color: #0855A0;
    display: grid;
    grid-template-rows: 10% 60% 30% ;
}
.info-display{
    width: 80%;
    height: 90%;
    border: 4px solid  #182889;
    margin: auto;
    display: grid;
    grid-template-rows: 1.4fr 0.8fr 0.8fr;
    grid-template-columns: 1fr;
}
.terminal{
    margin: auto;
    font-size: 4.5rem;
    font-family: monospace;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform: skewX(-10deg);
}
.price-station{
    border-top: dotted 5px white;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.price-station > div{
    width: 80%;
    height: 90%;
    border: 4px solid  #182889;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,33%);
}
.head-info{
    display: grid;
    height: 100%;
    width: 100%;
    align-content: space-between;
    grid-template-columns: 1fr;
}
.head-info > h2{
    display: grid;
    width: 60%;
    color: white;
    height: fit-content;
    font-size: xx-large;
    text-align: center;
    margin-inline:auto ;
    letter-spacing: 2px;
}
.head-info > h2 p{
    letter-spacing: normal;
    font-size: x-large;
}
.head-info > p{
    margin-inline: auto;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}
.day-info{
    display: grid;
    height: 70%;
    width: 100%;
    border-top: 4px solid #182889 ;
    border-bottom: 4px solid #182889 ;
    grid-template-columns: 1fr;
}
.day-info > div{
    width: 95%;
    display:  flex;
    justify-content: space-between;
    height: 90%;
    margin-inline: auto;
}
.day-info > div p{
    width: 33%;
    text-align: center;
    height: auto;
    font-weight: 500;
    color: white;
}
.movebtn{
    transform: translateX(30px);
    transition: all 1s;
}
.displaybtn{
   
    position: relative;
    width: 50px;
    height:20px;
    border: none;
    border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
    background-color: green;

}
.timebtn{
    width:15px;
    border-radius:50%;
    height:15px;
    cursor:pointer;
    position: absolute;
    left: 4%;
    transition: all 1s;
}
.port-info{
    display: grid;
    height: 100%;
    width: 100%;
}
.port-info > p{
    font-size: 20px;
}
.open-time{
    width: 100%;
    text-align: center;
}
.quantity-tickets{
    width: 100%;
    height: 100%;
}
.quantity-tickets > div{
    width: 40%;
}
.quantity-tickets button{
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-inline: 8%;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}
.set-ticket{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}