.select-container-time{
    width: 50%;
    height: max-content;
    font-size: 18px;
    margin-inline: auto;
    display: flex;
    position: relative;
    justify-content: initial;
    overflow: hidden;
}
.select-container-time::after{
    content: '\25BC';
    width: 22%;
    height: 100%;
    position: absolute;
    right: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    pointer-events: none;
   background-color:#D6DBDD;
}
.select-container-time select{
    width: 100%;
    height: 100%;
    appearance: none;
   box-shadow: none;
   font-size: 18px;
   border: none;
   text-indent: 5%;
   background-color:#D6DBDD;
}
.select-container-time select::-ms-expand{
    display: none;
}
.select-container-time select:focus{
    outline: none;
}