@keyframes moving {
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(0vw);
    }
    100%{
        transform: translateX(100vw);
    }
}
.logo-container{
    width: 150px;
    height: 150px;
    position: relative;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-name: moving;
    animation-iteration-count: infinite;
}
.logo-container::before{
    content: 'NTF';
    position: absolute;
    left: -100%;
    bottom: 25%;
    color: #182889;
    font-size: 74px;
    transform: skewX(-5deg);
    width: fit-content; 
    height: fit-content;
}

.part1{
    position: absolute;
    top: 4%;
    left: 0%;
}
.part2{
    transform: rotateZ(10deg);
    position: absolute;
    left: 5%;
    top: 9%;
}
.part3{
    position: absolute;
    left: 6%;
    top: 25%;
}
.popa{
    width: 70px;
    height: 70px;
    border-radius: 100% 100% 100% 50% ;
    background-color: #182889;
    transform: rotateZ(3deg);
}

.middle{
    width: 100px;
    height: 100px;
   outline: 4px solid white;
    border-radius: 100% 100% 100% 0 ;
    background-color: red;
    transform: skew(-9deg, -9deg);
}

.down{
    width: 130px;
    height: 80px;
    background: #385BA0;
    transform: skew(-20deg);
   outline: 5px solid white;
    border-radius: 100% 0 10px 0 ;
}
            

.animation-boat{
 
}